<header class="bg-white shadow-md px-6">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="flex items-center"class="h-10 mr-4">
      <h1 class="text-xl font-bold">HeyBookers</h1>
    </div>
    <div class="flex items-center">
      <a href="#" class="text-gray-700 text-sm hover:text-gray-900 mr-4">About</a>
      <a href="#" class="text-gray-700 text-sm hover:text-gray-900 mr-4">Contact Us</a>
      <div class="relative mr-4">
        <button class="bg-gray-200 rounded-full px-3 py-2 mr-4">
          <img src="../../assets/shopping-cart-10982.svg" alt="CART" srcset="" height="24px" width="24px">
          <span class="absolute top-0 right-0 bg-red-500 text-white rounded-full px-1 text-xs">{{ buyservise.getBookCount() }} </span>
        </button>
      </div>
      <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">login</button>
    </div>
  </div>
</header>
